html, body {
    margin: 0px;
    background-image: linear-gradient(to bottom right, #FFD700, #FF4500);
    overflow-x: hidden;
}
h1 {
    color: #1b95cd;
    font-family: tahoma, sans-serif;
    opacity: 70%;
    position: absolute;
    -webkit-text-stroke: 2px white;
}

.globe {
    text-align: center;
    margin-top: 150px;
}
    
.globe_image {
    height: 70vh;
}